<%= form_for @answer, url: question_answers_path(params[:question_id], @answer) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-group">
  <%= form.label :text, :class => "col-md-4 control-label" %>
  <div style="padding: 10px margin: 10px">
    <button class="glyphicon glyphicon-bold"></button>
    <button class="glyphicon glyphicon-italic"></button>
    <button class="glyphicon glyphicon-list"></button>
  </div>
  <%= form.text_area :text, :class => "form-control input-lg"%>
</div>
</hr>

<div class="actions">
  <%= form.submit "Antworten", :class => 'btn btn-primary moderator-form-footer' %>
</div>

<% end %>
