<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @answer.text %>
</p>

<p>
  <strong>Positiv rating:</strong>
  <%= @answer.positiv_rating %>
</p>

<p>
  <strong>Negative rating:</strong>
  <%= @answer.negative_rating %>
</p>

<p>
  <strong>Staranswer:</strong>
  <%= @answer.staranswer %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
