<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "RubyOnRailsSoSe2018" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
	<!-- Renders the complete Navigation bar -->
	<%= render 'layouts/navbar' %>

    <div class="container">
		<div class="row">
			<div class="col-lg-9">
				<%= bootstrap_flash %>
				<!-- Renders the complete Bodycontent -->
				<%= yield %>
			</div>
		</div>
		<footer>
			<p>&copy; Alexander Huber 2018</p>
		</footer>
    </div>
      <%= params.inspect %>
  </body>
</html>
